<div class="col-md-6 col-lg-4">
					<div class="service-item text-center">
						<i class="fa {{content.field_icon.0}}"></i>
						<h4>{{content.field_header.0}}</h4>
						<p>{{content.field_subtitle.0}}</p>
					</div>
				</div>