<!-- Banner -->
    <section class="banner" style="background-image:url({{file_url(content.field_background_image['#items'].entity.uri.value)}})">
        <div class="container">
        	<div class="row">
        		<div class="col-md-8 mx-auto banner-content">
					<h1 class="animated fadeInUpBig">{{content.field_header.0}}</h1>
        			<p class="animated fadeInDownBig">{{content.field_subtitle.0}}</p>
        		</div>
        	</div>
        </div>
    </section>
    <!-- Banner End -->  
