img{
  object-fit: cover;
}
.cssmenu .region-primary-menu .contextual-links li a{
	display: unset !important;
}
.slider_wrapper .slider_text p {
    padding-right: 55%;
}
.nav-arrows span.nav-arrow-prev {
    left: 3%;
    border-right: none;
    border-top: none;
}
.nav-arrows span {
    z-index: 300; 
}
.blog_wrapper .post_block img {
    margin-right: 25px;
    width: 100%;
}
.path-comment form {
    width: 80%;
    margin: auto;
    padding: 50px 0px 50px;
}
.path-comment .comment_block img{
	width: 80px;
	height: 80px;
}
.path-comment .comment_block h3{
	margin: 0px
}
.our_partner_wrapper {
    margin-bottom: 100px;
}
section.project_wrapper .project-image img {
    height: 338px;
    width: 100%;
}

/* Page not found */
#not-found-section {
    padding: 50px 0px 100px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    /*border: 2px solid #296dc1;*/
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 100px;
    margin: 0px;
    color: #333;
    font-weight: 600;
}
.not-title h2 {
    font-size: 17px;
    margin: 0px;
    color: #333;
}
.not-found-body p{
	font-size: 14px;
}
#not-found-section a.btn.btn-custom{
	font-size: 15px;
    color: #fff;
    background: #f5b705;
    padding: 8px 15px;
    margin-top: 25px;
    display: inline-block;
    border: none;
}
#not-found-section a.btn.btn-custom:hover{
	background: #333;
}
@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    /*border: 2px solid #296dc1 !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    /*border: 2px solid #296dc1 !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    /*border: 2px solid #296dc1 !important;*/
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 70px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}
.login-text a {
    color: #333;
    font-size: 12px;
}
.login-button input {
	font-size: 15px;
    color: #fff;
    background: #f5b705;
    padding: 8px 15px;
    margin-top: 25px;
    display: inline-block;
    border: none;
}
.login-button input:hover {
	background: #333;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    font-size: 0.85em;
    font-size: 12px;
}
.login-text label{
	font-size: 13px;
}
#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}
#user-register-form label, #user-login label .user-pass label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
}
#user-register-form .description, #user-login .description .user-pass p {
    font-size: 11px;
}
#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px
}

#user-register-form .form-actions input , #user-pass .form-actions input {
	font-size: 15px;
    color: #fff;
    background: #f5b705;
    padding: 8px 15px;
    margin-top: 25px;
    display: inline-block;
    border: none; 
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
    background: #333;
}
summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
@media (min-width: 992px) {
#cssmenu ul li:hover > ul > li {
    height: 42px;
    width: 150px;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
/* End  User login form css*/
@media (min-width: 320px) and (max-width: 992px) {
#cssmenu ul {
    padding: 0px;
}
#cssmenu > ul > li {
    float: left;
    padding: 20px 20px;
}
#cssmenu ul li:hover > ul > li {
    display: block !important;
    width: 100!important;
}
}

#not-found-section a.btn.btn-custom, .comment-comment-form input#edit-submit{
	font-size: 15px;
    color: #fff;
    background: #f5b705;
    padding: 8px 15px;
    margin-top: 25px;
    display: inline-block;
    border: none;
}
#not-found-section a.btn.btn-custom:hover, .comment-comment-form input#edit-submit:hover{
	background: #333;
}
.comment-comment-form input {
    margin: 0;
    background: #fff;
    height: 45px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 1px solid #dedede;
    width: 100%;
}
.comment-comment-form label {
    font-size: 13px;
}
.comment-comment-form input#edit-submit{
	width: auto;
	border-radius: 0px;
    background: #F5B705;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    text-transform: uppercase;
    border: 2px solid #F5B705;
}
.comment-comment-form input#edit-submit:hover{
	color: #F5B705;
    background: none;
}
#cssmenu ul ul {
    top: 26px;
}
#cssmenu ul ul li a {
    width: 100% !important;
    display: block;
}