<!--Testmonial wrapper Here-->  
<p> 
    {{ content.field_body.0|render|striptags }}                                   
     <span class="author">
         <span>{{ content.field_title.0 }}  <br> <a class="color">
         {{ content.field_sub_title.0 }} </a> </span>
    </span>
</p>
<!--Testmonial wrapper End Here-->  

