<!--Our Partner wrapper Start Here-->	 
<div class="col-md-2 col-sm-2 col-xs-6">
	<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
</div> 
<!--Our Partner wrapper Start Here end-->   

