<!--Contact wrapper start here-->
<section class="conatct_wrapper">
	<div class="container">
    	<div class="row">
        	<div class="col-md-4 col-sm-12">
        		{{ content.field_contact_form.0 }}
            </div>
            <div class="col-md-8 col-sm-12">
            	<div class="contact_detail">
                    {{ content.field_address_items }}
                 	<div class="clearfix"></div>
                </div>
            </div> 
            
             <div class="clearfix"></div>
               <div id="contact_map">	
                   <div id="map-canvas">
                      {{ content.field_map.0 }}
                   </div>
             </div>
             
        </div>
    </div>
</section>
<!--Contact wrapper End here-->