<!--Our Partner wrapper Start Here-->	 
<section class="our_partner_wrapper">
    <div class="container">
        <div class="row">
	        <div class="col-md-8 col-sm-8">
	             <h2>{{ content.field_title.0 }}</h2>
	             <p>{{ content.field_sub_title.0 }}</p>
	             {{ content.field_partners_items }}
	           <div class="clearfix"></div>
	        </div>   
	        <div class="col-md-4 col-sm-4">
	        	<blockquote>
	            	{{ content.field_body.0 }} 
	            </blockquote>
	        </div>
        </div>
    </div> 
</section>
<!--Our Partner wrapper End Here-->  